.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.postPage{
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  min-height: 40vh;

}

.buttons{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.postsList{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;

}

.flexCorner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 45vh;
}

.postsDisplay{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 35px;
}

.content {
  display: flex;
  justify-content: center;
}

.formLines{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.formLine{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.created-by{
  color: rgb(128, 128, 128);
}

.logOutButton{
  color: red;
  border: 1px solid rgb(128, 128, 128);
  background-color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
