.App {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  background-image: url("./openart-image_hdMCk0LD_1709564858693_raw.jpg");
  background-position: center;
  background-size: cover;
}

.Footer{
  position: fixed;
  bottom: 0;
  left: 0;
}
.Footer-Link{
  background-color: #dddddd;
  border-radius: 0 0.5rem 0 0;
}

.Header{
  position: fixed;
  top: 0;
  left: -3%;
  height: 90%;
  background-color: #333; /* Adjust as needed */
  color: #fff; /* Adjust as needed */
  padding: 10px; /* Adjust padding as needed */
  z-index: 1000; /* Ensure header appears above other content */
  background: transparent;
}

.conversation{
  box-sizing: border-box;
  /*padding-bottom: 31.9rem;*/
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3rem 6rem rgba(70, 41, 242, 0.1400000006);
  background-color: gold;
  border-radius: 1rem 1rem 1rem 1rem;
}

/*.conversation.chatBox{*/
/*  box-sizing: border-box;*/
/*  padding-bottom: 31.9rem;*/
/*  align-items: center;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  box-shadow: 0 3rem 6rem rgba(70, 41, 242, 0.1400000006);*/
/*}*/

.ConversationList{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: green;
}

.QAndA{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: gold;
}

.QuestionBubbleContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: end;
  border-radius: 1rem 0rem 1rem 1rem;
  background-color: #4629f2;
}

.QuestionBubble{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4px 10px 4px 10px ;
}

.Question{
  color: #ededed;
  /*color: #ffffff;*/
}

.AnswerBubbleContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 0 1rem 1rem 1rem;
  background-color: #f1f7ff;
}

.AnswerBubble{
  display: flex;
  flex-direction: row;
  align-self: end;

  justify-content: center;
  align-items: center;
  margin: 4px 10px 4px 10px ;
}

.Answer{
  color: #0d082c;
}

.Home{
  background: #61dafb;
  border-radius: 1rem 1rem 1rem 1rem;
}

.contact{
  background: white;
  border-radius: 1rem 1rem 1rem 1rem;
}
.margin-top-60px{
  margin-top: 60px;
}

.flex-buttons{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  list-style-type: none; /* Remove bullets */
  gap: 10px;

}

.flexCorner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 45vh;
}

.content {
  display: flex;
  justify-content: center;
}

.formLines{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.formLine{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.created-by{
  color: rgb(128, 128, 128);
}

.logOutButton{
  color: red;
  border: 1px solid rgb(128, 128, 128);
  background-color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
