@import url('https://fonts.cdnfonts.com/css/felt-tip-roman');
@import url('https://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.cdnfonts.com/css/magic-school-one');

.App {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
  background-image: url("Resorces/Backround-Hogwarts.jpg");
  background-position: center;
  background-size: cover;
  font-family: 'Harry Potter', sans-serif;
}

@media (max-width: 800px){
  .App{
    min-height: 100vh;
  }
}

@media (max-width: 500px){
  .App{
    min-height: 100vh;
  }
}

@media (max-width: 300px){
  .App{
    min-height: 100vh;
  }
}

.content {
  margin: 5%;
  display: flex;
  flex-direction: row;
  background-color: transparent;
}

@media (max-width: 725px) {
  .content {
    margin-top: 10%;
  }
}

@media (max-width: 350px) {
  .content {
    margin-top: 20%;
  }
}

.Header{
  position: fixed;
  top: 0;
  left: -3%;
  height: 1%;
  color: #fff;
  padding: 10px;
  background: transparent;
  font-family: "Curlz MT", serif;
}

.flex-buttons{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  list-style-type: none;
  gap: 10px;
}

@media (max-width: 725px) {
    .flex-buttons {
      flex-direction: row;
    }
  }

.Footer{
  position: fixed;
  bottom: 0;
  left: 0;
}

.Footer-Link{
  background-color: saddlebrown;
  border-radius: 0 0.5rem 0 0;
  color: gold;
  opacity: 0.85;
  font-family: "Curlz MT", serif;
}

.Home{
  background: rgba(10, 20, 20, 0.6);
  border-radius: 1rem 1rem 1rem 1rem;
  padding: 5%;
  font-family: 'Harry Potter', sans-serif;
  color: gold;
}

.conversation{
  display: flex;
  align-items: center;
  align-self: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  flex-direction: column;
  box-shadow: 0 3rem 6rem rgba(70, 41, 242, 0.1400000006);
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 500px) {
  .conversation{
    margin-right: 3%;
    margin-left: 3%;
    width: 94%;
  }
}

.choose-character-title{
  align-self: center;
  text-align: center;
  font-size: 35px;
}

@media (max-width: 500px) {
  .choose-character-title{
    font-size: 25px;
  }
}

@media (max-width: 300px) {
  .choose-character-title{
    font-size: 15px;
  }
}

.link-container{
  background-color: rgba(255, 215, 0, 0.2);
  border-radius: 0 1rem 1rem 0;
}

@media (max-width: 725px) {
  .link-container{
    border-radius: 0 0 1rem 1rem;
    background-color: rgba(255, 215, 0, 0.6);

  }
}

.characters-choose-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.characters-choose-links-bubble{
  padding: 3% 3% 3% 3%;
  background-repeat: no-repeat;
  background-position: 8px 8px;
  border-radius: 3rem 3rem 3rem 3rem;
  box-shadow: 0 3rem 6rem rgba(70, 41, 242, 0.1400000006);
}

.image-link-character{
  border-radius: 2rem 2rem 2rem 2rem;
}

.characters-links{
  padding: 1px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.remove-character-container{
  border: transparent;
  /*align-self: center;*/
  background-color: rgba(255,255,255, 0.1);
  border-radius: 2rem 2rem 2rem 2rem;
}

.change-character{
  height: 180px;
}

@media (max-width: 500px) {
  .change-character{
    height: 150px;
  }
}

.ConversationList{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.QAndA{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: transparent;
}

@media (max-width: 500px) {
  .QAndA{

  }
}

.QuestionBubbleContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: end;
  border-radius: 1rem 0 1rem 1rem;
  background-color: #4629f2;
}

.QuestionBubble{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 4px 10px 4px 10px ;
}

.Question{
  color: #ededed;
  /*color: #ffffff;*/
}

.AnswerBubbleContainer{
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 0 1rem 1rem 1rem;
  background-color: #f1f7ff;
  width: 60%;
}

@media (max-width: 500px) {
  .AnswerBubbleContainer{
    width: 90%;
  }
}
@media (max-width: 400px) {
  .AnswerBubbleContainer{
    width: 96%;
  }
}

.AnswerBubble{
  display: flex;
  flex-direction: row;
  align-self: end;
  justify-content: center;
  align-items: center;
  margin: 4px 10px 4px 10px ;
}

.Answer{
  color: #0d082c;
}

.Dumbledore{
  font-family: "Comic Sans MS", c cursive;
  font-size: large;
}

.Hagrid{
  font-family: 'Felt Tip Roman', sans-serif;
  font-size: larger;
}

.Dobby{
  font-family: 'Magic School one', sans-serif;
  font-size: x-large;
}

@media (max-width: 500px) {
  .Hagrid{
    font-size: large;
  }

  .Dobby{
    font-size: large;
  }
}

@media (max-width: 500px) {
  .Hagrid{
    font-size: medium;
  }

  .Dobby{
    font-size: medium;
  }
}


.prompt-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.prompt-line{
  width: 100%;
  margin: 5px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*background: transparent;*/
  background-color: rgba(150,150,255,0.4);
  border-radius: 1rem 1rem 1rem 1rem;

}

.prompt-text{
  width: 100%;
  margin: 5px 10px 5px 10px;
  align-self: center;
  background-color: transparent;
  border: 0;
  word-break: break-word;
}


.flexCorner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 45vh;
}

.Contact-container{
  background-image: url("Resorces/parchment-background.png");
  background-size: cover;
  margin: 10%;
  padding: 10% 15% 15% 10%;
  background-repeat:no-repeat;
  font-family: 'Harry Potter', sans-serif;
}

@media (max-width: 725px) {
  .Contact-container{
    margin: 10%;
    padding: 7%;
  }
}


@media (max-width: 500px) {
  .Contact-container{
    margin: 5%;
    padding: 5%;
  }
}

@media (max-width: 310px) {
  .Contact-container{
    margin: 1%;
    padding: 1%;
  }
}

.Contact{
  font-family: 'Harry Potter', sans-serif;
  color: #1d1648;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.margin-top-60px{
  margin-top: 60px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formLines{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.formLine{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-submit{
  border: none;
  background-color: transparent;
  padding-top: 5%;
}

.owl-contact-submit{
  width: 30%;
  border-radius: 30rem 30rem 30rem 30rem;
  box-shadow: #0d082b;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@media (max-width: 725px) {
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 25px;
  }
  h3 {
    font-size: 17px;
  }
  label {
    font-size: small;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 20px;
  }
  h3 {
    font-size: 14px;
  }
}

